azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-storage-file-datalake
boto3
fastparquet
mysql-connector-python
numpy
openpyxl
oracledb
pandas
polars
psycopg2-binary
pyarrow
pyodbc
requests
s3fs
scikit-learn
sqlalchemy
urllib3
xlrd